*.arj filter=lfs diff=lfs merge=lfs -crlf
*.lha filter=lfs diff=lfs merge=lfs -crlf
*.lzh filter=lfs diff=lfs merge=lfs -crlf
*.r00 filter=lfs diff=lfs merge=lfs -crlf
*.r01 filter=lfs diff=lfs merge=lfs -crlf
*.r02 filter=lfs diff=lfs merge=lfs -crlf
*.r03 filter=lfs diff=lfs merge=lfs -crlf
*.r04 filter=lfs diff=lfs merge=lfs -crlf
*.r05 filter=lfs diff=lfs merge=lfs -crlf
*.r06 filter=lfs diff=lfs merge=lfs -crlf
*.r07 filter=lfs diff=lfs merge=lfs -crlf
*.r08 filter=lfs diff=lfs merge=lfs -crlf
*.r09 filter=lfs diff=lfs merge=lfs -crlf
*.r10 filter=lfs diff=lfs merge=lfs -crlf
*.r11 filter=lfs diff=lfs merge=lfs -crlf
*.r12 filter=lfs diff=lfs merge=lfs -crlf
*.r13 filter=lfs diff=lfs merge=lfs -crlf
*.r14 filter=lfs diff=lfs merge=lfs -crlf
*.r15 filter=lfs diff=lfs merge=lfs -crlf
*.r16 filter=lfs diff=lfs merge=lfs -crlf
*.r17 filter=lfs diff=lfs merge=lfs -crlf
*.r18 filter=lfs diff=lfs merge=lfs -crlf
*.r19 filter=lfs diff=lfs merge=lfs -crlf
*.r20 filter=lfs diff=lfs merge=lfs -crlf
*.r21 filter=lfs diff=lfs merge=lfs -crlf
*.r22 filter=lfs diff=lfs merge=lfs -crlf
*.r23 filter=lfs diff=lfs merge=lfs -crlf
*.r24 filter=lfs diff=lfs merge=lfs -crlf
*.r25 filter=lfs diff=lfs merge=lfs -crlf
*.r26 filter=lfs diff=lfs merge=lfs -crlf
*.r27 filter=lfs diff=lfs merge=lfs -crlf
*.r28 filter=lfs diff=lfs merge=lfs -crlf
*.r29 filter=lfs diff=lfs merge=lfs -crlf
*.r30 filter=lfs diff=lfs merge=lfs -crlf
*.r31 filter=lfs diff=lfs merge=lfs -crlf
*.r32 filter=lfs diff=lfs merge=lfs -crlf
*.r33 filter=lfs diff=lfs merge=lfs -crlf
*.r34 filter=lfs diff=lfs merge=lfs -crlf
*.r35 filter=lfs diff=lfs merge=lfs -crlf
*.r36 filter=lfs diff=lfs merge=lfs -crlf
*.r37 filter=lfs diff=lfs merge=lfs -crlf
*.r38 filter=lfs diff=lfs merge=lfs -crlf
*.r39 filter=lfs diff=lfs merge=lfs -crlf
*.r40 filter=lfs diff=lfs merge=lfs -crlf
*.r41 filter=lfs diff=lfs merge=lfs -crlf
*.r42 filter=lfs diff=lfs merge=lfs -crlf
*.r43 filter=lfs diff=lfs merge=lfs -crlf
*.r44 filter=lfs diff=lfs merge=lfs -crlf
*.r45 filter=lfs diff=lfs merge=lfs -crlf
*.r46 filter=lfs diff=lfs merge=lfs -crlf
*.r47 filter=lfs diff=lfs merge=lfs -crlf
*.r48 filter=lfs diff=lfs merge=lfs -crlf
*.r49 filter=lfs diff=lfs merge=lfs -crlf
*.r50 filter=lfs diff=lfs merge=lfs -crlf
*.r51 filter=lfs diff=lfs merge=lfs -crlf
*.r52 filter=lfs diff=lfs merge=lfs -crlf
*.r53 filter=lfs diff=lfs merge=lfs -crlf
*.r54 filter=lfs diff=lfs merge=lfs -crlf
*.r55 filter=lfs diff=lfs merge=lfs -crlf
*.r56 filter=lfs diff=lfs merge=lfs -crlf
*.r57 filter=lfs diff=lfs merge=lfs -crlf
*.r58 filter=lfs diff=lfs merge=lfs -crlf
*.r59 filter=lfs diff=lfs merge=lfs -crlf
*.r60 filter=lfs diff=lfs merge=lfs -crlf
*.r61 filter=lfs diff=lfs merge=lfs -crlf
*.r62 filter=lfs diff=lfs merge=lfs -crlf
*.r63 filter=lfs diff=lfs merge=lfs -crlf
*.r64 filter=lfs diff=lfs merge=lfs -crlf
*.r65 filter=lfs diff=lfs merge=lfs -crlf
*.r66 filter=lfs diff=lfs merge=lfs -crlf
*.r67 filter=lfs diff=lfs merge=lfs -crlf
*.r68 filter=lfs diff=lfs merge=lfs -crlf
*.r69 filter=lfs diff=lfs merge=lfs -crlf
*.r70 filter=lfs diff=lfs merge=lfs -crlf
*.r71 filter=lfs diff=lfs merge=lfs -crlf
*.r72 filter=lfs diff=lfs merge=lfs -crlf
*.r73 filter=lfs diff=lfs merge=lfs -crlf
*.r74 filter=lfs diff=lfs merge=lfs -crlf
*.r75 filter=lfs diff=lfs merge=lfs -crlf
*.r76 filter=lfs diff=lfs merge=lfs -crlf
*.r77 filter=lfs diff=lfs merge=lfs -crlf
*.r78 filter=lfs diff=lfs merge=lfs -crlf
*.r79 filter=lfs diff=lfs merge=lfs -crlf
*.r80 filter=lfs diff=lfs merge=lfs -crlf
*.r81 filter=lfs diff=lfs merge=lfs -crlf
*.r82 filter=lfs diff=lfs merge=lfs -crlf
*.r83 filter=lfs diff=lfs merge=lfs -crlf
*.r84 filter=lfs diff=lfs merge=lfs -crlf
*.r85 filter=lfs diff=lfs merge=lfs -crlf
*.r86 filter=lfs diff=lfs merge=lfs -crlf
*.r87 filter=lfs diff=lfs merge=lfs -crlf
*.r88 filter=lfs diff=lfs merge=lfs -crlf
*.r89 filter=lfs diff=lfs merge=lfs -crlf
*.r90 filter=lfs diff=lfs merge=lfs -crlf
*.r91 filter=lfs diff=lfs merge=lfs -crlf
*.r92 filter=lfs diff=lfs merge=lfs -crlf
*.r93 filter=lfs diff=lfs merge=lfs -crlf
*.r94 filter=lfs diff=lfs merge=lfs -crlf
*.r95 filter=lfs diff=lfs merge=lfs -crlf
*.r96 filter=lfs diff=lfs merge=lfs -crlf
*.r97 filter=lfs diff=lfs merge=lfs -crlf
*.r98 filter=lfs diff=lfs merge=lfs -crlf
*.r99 filter=lfs diff=lfs merge=lfs -crlf
*.rar filter=lfs diff=lfs merge=lfs -crlf
*.zip filter=lfs diff=lfs merge=lfs -crlf
